.header-area {
  background-color:rgb(27, 38, 75);
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.nav-link {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover {
  background: rgba(55,55,255,.1);
}

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

/* mobile query start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler{
    display: block;
  }
  .main-nav {
    min-height: 60px;
  }
  .nav-list {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    border-top: 1px solid #444;
    background-color: rgba(10, 13, 22,.75);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .nav-link {
    width: 100%;
  }
  .nav-link:hover {
    background-color: rgba(255,255,255,.1);
	display:block;
  }
  .nav-list.open {
    max-height: 100vh;
    overflow: visible;
  }
}
/* mobile query end */
